___
# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [1]:
import pandas as pd

In [3]:
com = pd.read_csv('Ecommerce Purchases')

**Check the head of the DataFrame.**

In [4]:
com.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** How many rows and columns are there? **

In [5]:
com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** What is the average Purchase Price? **

In [6]:
com["Purchase Price"].mean()

50.347302

** What were the highest and lowest purchase prices? **

In [7]:
com["Purchase Price"].max()

99.99

In [8]:
com["Purchase Price"].min()

0.0

** How many people have English 'en' as their Language of choice on the website? **

In [18]:
com[com["Language"]=="en"].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

** How many people have the job title of "Lawyer" ? **

In [17]:
com[com["Job"]=="Lawyer"].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [96]:
com

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? **

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [24]:
com.loc[com["Lot"]=="90 WT","Purchase Price"]

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [23]:
com.loc[com["Credit Card"]==4926535242672853,"Email"]

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [35]:
com.loc[(com["Company"]=="American Express") & (com["Purchase Price"]>95)]

Empty DataFrame
Columns: [Address, Lot, AM or PM, Browser Info, Company, Credit Card, CC Exp Date, CC Security Code, CC Provider, Email, Job, IP Address, Language, Purchase Price]
Index: []

** Hard: How many people have a credit card that expires in 2025? **

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [20]:
com.sort_values(by="Email")

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
4696,"940 Jacob Crest\nWest Bethstad, NJ 66005-5326",64 of,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows 98;...,"Moore, Koch and Silva",5375779433229957,08/22,935,American Express,aabbott@hotmail.com,Equality and diversity officer,41.176.18.162,pt,3.55
9236,"99182 Gregory Shoal\nAprilborough, CT 85908-4932",86 BR,PM,Mozilla/5.0 (compatible; MSIE 8.0; Windows CE;...,"Richardson, Marquez and Kane",4165673531924,11/19,542,VISA 16 digit,aacosta@maddox-mann.info,"Teacher, secondary school",191.175.119.122,zh,72.49
2172,6989 Patterson Vista Suite 707\nNorth Brianber...,31 Sw,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8)...,Pena Inc,342760238691089,11/19,367,Discover,aallen@yahoo.com,Marine scientist,68.188.98.207,en,12.07
1539,"582 Richardson Mountain\nWest Jessica, MI 68825",53 bV,PM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.7.20) G...,Lopez Group,6011626084980602,06/19,462,American Express,aalvarez@yahoo.com,Private music teacher,3.207.118.82,ru,73.83
3603,"886 William Springs\nNorth Emily, CT 78435-3368",49 Ua,AM,Opera/8.83.(X11; Linux i686; it-IT) Presto/2.9...,"Alvarado, Jacobs and Mills",3096341113756412,11/21,500,JCB 16 digit,aandersen@gmail.com,Equities trader,42.82.105.171,el,13.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8716,"5516 Selena Overpass\nJonesville, NJ 64059-9557",14 gq,PM,Mozilla/5.0 (compatible; MSIE 8.0; Windows CE;...,"Mcgrath, Alvarez and Edwards",30379166486540,04/22,66,JCB 16 digit,zwhite@nichols-willis.com,Computer games developer,117.224.21.158,it,22.72
177,"054 Hatfield Prairie Apt. 730\nClarkmouth, DE ...",33 IK,PM,Mozilla/5.0 (Windows NT 4.0; sl-SI; rv:1.9.0.2...,Braun-Floyd,6011784656657197,03/25,836,Mastercard,zwilson@yahoo.com,Chiropodist,167.84.198.199,el,99.72
5426,"0752 Savannah Bypass\nNorth Seanview, NH 28477...",15 Vr,PM,Opera/9.86.(X11; Linux i686; en-US) Presto/2.9...,"Anderson, Grant and Pratt",869955788266182,10/22,8681,JCB 16 digit,zwright@suarez.biz,"Merchandiser, retail",93.186.95.34,zh,13.69
9252,"7280 Brown Drive Apt. 826\nSouth Kevin, IN 17295",58 ak,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,Campbell-Jimenez,869941601902542,08/22,6881,VISA 16 digit,zyork@fischer-harrison.com,Haematologist,195.16.101.33,ru,78.21
580,"4597 Patterson Loop Suite 481\nRobertsonview, ...",53 qv,PM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_2 like M...,"Trevino, Bradford and Gonzalez",4912891641434809,07/25,4,Maestro,zyoung@yahoo.com,"Scientist, research (physical sciences)",22.25.246.144,ru,62.63

# Great Job!