# SF Salaries Exercise

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [22]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [23]:
sal=pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [24]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [25]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [26]:
sal['BasePay'].mean()

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [27]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [28]:
sal['JobTitle'].iloc[sal.index[sal.index[sal['EmployeeName']=="JOSEPH DRISCOLL"]]]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [29]:
sal['TotalPayBenefits'].iloc[sal.index[sal['EmployeeName']=="JOSEPH DRISCOLL"]]

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [30]:
sal['EmployeeName'].iloc[sal.index[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]]
#note that .index always takes up boolean made up from your condition.

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [31]:
sal['EmployeeName'].iloc[sal.index[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]]
# he is not making money, he is paying someone , Oh My Joe!.

148653    Joe Lopez
Name: EmployeeName, dtype: object

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [58]:
sal2011=sal[sal['Year']==2011]
print(sal2011['BasePay'].mean())
sal2012=sal[sal['Year']==2012]
print(sal2012['BasePay'].mean())
sal2013=sal[sal['Year']==2013]
print(sal2013['BasePay'].mean())
sal2014=sal[sal['Year']==2014]
print(sal2014['BasePay'].mean())

63595.95651677314
65436.40685742263
69630.03021648065
66564.42192449959

** How many unique job titles are there? **

In [33]:
unique_jobs=[] #list to store unique titles for job

for i in sal['JobTitle']:
    if i not in unique_jobs:
        unique_jobs.append(i)

len(unique_jobs)

2159

** What are the top 5 most common jobs? **

In [66]:
sal['JobTitle'].value_counts().head()
#could have also be done through accessing the .mode and then removing the mode values from data frame and then finding the new mode!
#complicated af.

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [75]:
sal_2013=sal[sal['Year']==2013]
sal_freq=pd.DataFrame(sal_2013['JobTitle'].value_counts())
sal_freq

num_1=0
for i in sal_freq['JobTitle']:
    if i==1:
        num_1+=1
print(num_1)

#keep in mind that the value_counts returns the frequency of all elements of that column.

202

** How many people have the word Chief in their job title? (This is pretty tricky) **
**include all the cases as chief,Chief,CHIEF and more.**

In [60]:
num=0
for i in sal['JobTitle']:
    if (("chief" in i) or ("Chief" in i) or ("CHIEF" in i)):
        num+=1

print(num)

627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [76]:
#Skipping This Bonus Problem.

46

In [36]:
#Skipping This Bonus Problem.

# Great Job!