# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv("Salaries.csv")

** Check the head of the DataFrame. **

In [3]:
print(sal.head())

   Id       EmployeeName                                        JobTitle
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  \
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43  \
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19

   Year  Notes         Agency  Status
0  2011    NaN  San Francisco     NaN
1  2011    NaN  San Francisco     NaN
2  2011    NaN  San Francisco     NaN
3  2011    NaN  San Francisco     NaN
4  2011    NaN  San Francisco     NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
print(sal.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB
None

**What is the average BasePay ?**

In [6]:
average_base_pay = sal['BasePay'].mean()
print(average_base_pay)

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [7]:
highest_overtime_pay = sal['OvertimePay'].max()
print(highest_overtime_pay)

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [8]:
job_title = sal.loc[sal['EmployeeName'] == 'JOSEPH DRISCOLL', 'JobTitle'].values[0]
print(job_title)

CAPTAIN, FIRE SUPPRESSION

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [9]:
total_pay = sal.loc[sal['EmployeeName'] == 'JOSEPH DRISCOLL', 'TotalPayBenefits'].values[0]
print(total_pay)

270324.91

** What is the name of highest paid person (including benefits)?**

In [10]:
highest_paid_index = sal['TotalPayBenefits'].idxmax()
highest_paid_person = sal.loc[highest_paid_index, 'EmployeeName']
print(highest_paid_person)

NATHANIEL FORD

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [11]:
lowest_paid_index = sal['TotalPayBenefits'].idxmin()
lowest_paid_person = sal.loc[lowest_paid_index, 'EmployeeName']
print(lowest_paid_person)

Joe Lopez

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [12]:
sal['Year'] = pd.to_datetime(sal['Year'])
average_base_pay_per_year = sal.loc[(sal['Year'].dt.year >= 2011) & (sal['Year'].dt.year <= 2014)].groupby(sal['Year'].dt.year)['BasePay'].mean()
print(average_base_pay_per_year)

Series([], Name: BasePay, dtype: float64)

** How many unique job titles are there? **

In [14]:
unique_job_titles = sal['JobTitle'].nunique()
print(unique_job_titles)

2159

** What are the top 5 most common jobs? **

In [15]:
top_5_common_jobs = sal['JobTitle'].value_counts().head(5)
print(top_5_common_jobs)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [16]:
job_titles_2013 = sal[sal['Year'] == 2013]['JobTitle'].value_counts()
job_titles_count = len(job_titles_2013[job_titles_2013 == 1])
print(job_titles_count)

0

** How many people have the word Chief in their job title? (This is pretty tricky) **

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!