# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [6]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [1]:
import pandas as pd
salaries=pd.read_csv(r"C:\Users\tamog\OneDrive\Desktop\Salaries.csv")
sal=pd.DataFrame(salaries)
print(sal)

            Id       EmployeeName
0            1     NATHANIEL FORD  \
1            2       GARY JIMENEZ
2            3     ALBERT PARDINI
3            4  CHRISTOPHER CHONG
4            5    PATRICK GARDNER
...        ...                ...
148649  148650      Roy I Tillery
148650  148651       Not provided
148651  148652       Not provided
148652  148653       Not provided
148653  148654          Joe Lopez

                                              JobTitle    BasePay
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18  \
1                      CAPTAIN III (POLICE DEPARTMENT)  155966.02
2                      CAPTAIN III (POLICE DEPARTMENT)  212739.13
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC   77916.00
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)  134401.60
...                                                ...        ...
148649                                       Custodian       0.00
148650                                    Not provided        NaN
148651                                    Not provided        NaN
148652                                    Not provided        NaN
148653                      Counselor, Log Cabin Ranch       0.00

        OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  Year
0              0.00  400184.25       NaN  567595.43         567595.43  2011  \
1         245131.88  137811.38       NaN  538909.28         538909.28  2011
2         106088.18   16452.60       NaN  335279.91         335279.91  2011
3          56120.71  198306.90       NaN  332343.61         332343.61  2011
4           9737.00  182234.59       NaN  326373.19         326373.19  2011
...             ...        ...       ...        ...               ...   ...
148649         0.00       0.00       0.0       0.00              0.00  2014
148650          NaN        NaN       NaN       0.00              0.00  2014
148651          NaN        NaN       NaN       0.00              0.00  2014
148652          NaN        NaN       NaN       0.00              0.00  2014
148653         0.00    -618.13       0.0    -618.13           -618.13  2014

        Notes         Agency  Status
0         NaN  San Francisco     NaN
1         NaN  San Francisco     NaN
2         NaN  San Francisco     NaN
3         NaN  San Francisco     NaN
4         NaN  San Francisco     NaN
...       ...            ...     ...
148649    NaN  San Francisco     NaN
148650    NaN  San Francisco     NaN
148651    NaN  San Francisco     NaN
148652    NaN  San Francisco     NaN
148653    NaN  San Francisco     NaN

[148654 rows x 13 columns]

** Check the head of the DataFrame. **

In [3]:
import pandas as pd
salaries=pd.read_csv(r"C:\Users\tamog\OneDrive\Desktop\Salaries.csv")
sal=pd.DataFrame(salaries)
print(sal.head())

   Id       EmployeeName                                        JobTitle
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  \
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43  \
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19

   Year  Notes         Agency  Status
0  2011    NaN  San Francisco     NaN
1  2011    NaN  San Francisco     NaN
2  2011    NaN  San Francisco     NaN
3  2011    NaN  San Francisco     NaN
4  2011    NaN  San Francisco     NaN

** Use the .info() method to find out how many entries there are.**

In [9]:
import pandas as pd
salaries=pd.read_csv(r"C:\Users\tamog\OneDrive\Desktop\Salaries.csv")
sal=pd.DataFrame(salaries)
print(sal.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [4]:
import pandas as pd
salaries=pd.read_csv(r"C:\Users\tamog\OneDrive\Desktop\Salaries.csv")
sal=pd.DataFrame(salaries)
print(sal["BasePay"].mean())

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [5]:
import pandas as pd
salaries=pd.read_csv(r"C:\Users\tamog\OneDrive\Desktop\Salaries.csv")
sal=pd.DataFrame(salaries)
print(sal['OvertimePay'].max())

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [8]:
import pandas as pd
salaries=pd.read_csv(r"C:\Users\tamog\OneDrive\Desktop\Salaries.csv")
sal=pd.DataFrame(salaries)
n=sal[sal['EmployeeName']=='JOSEPH DRISCOLL'].index.values
print(sal.at[int(n),'JobTitle'])

CAPTAIN, FIRE SUPPRESSION

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [11]:
import pandas as pd
salaries=pd.read_csv(r"C:\Users\tamog\OneDrive\Desktop\Salaries.csv")
sal=pd.DataFrame(salaries)
n=sal[sal['EmployeeName']=='JOSEPH DRISCOLL'].index.values
print(sal.at[int(n),'TotalPay'])

270324.91

** What is the name of highest paid person (including benefits)?**

In [16]:
import pandas as pd
salaries=pd.read_csv(r"C:\Users\tamog\OneDrive\Desktop\Salaries.csv")
sal=pd.DataFrame(salaries)
n=sal['TotalPay'].max()
m=sal[sal['TotalPayBenefits']==n].index.values
print(sal.at[int(m),'EmployeeName'])

NATHANIEL FORD

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [17]:
import pandas as pd
salaries=pd.read_csv(r"C:\Users\tamog\OneDrive\Desktop\Salaries.csv")
sal=pd.DataFrame(salaries)
n=sal['TotalPay'].min()
m=sal[sal['TotalPayBenefits']==n].index.values
print(sal.at[int(m),'EmployeeName'])

Joe Lopez

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [18]:
import pandas as pd
salaries=pd.read_csv(r"C:\Users\tamog\OneDrive\Desktop\Salaries.csv")
sal=pd.DataFrame(salaries)
yearlyavg=sal.groupby(by='Year')['BasePay'].mean()
print(yearlyavg)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [19]:
import pandas as pd
salaries=pd.read_csv(r"C:\Users\tamog\OneDrive\Desktop\Salaries.csv")
sal=pd.DataFrame(salaries)
print(sal['JobTitle'].nunique())

2159

** What are the top 5 most common jobs? **

In [20]:
import pandas as pd
salaries=pd.read_csv(r"C:\Users\tamog\OneDrive\Desktop\Salaries.csv")
sal=pd.DataFrame(salaries)
print(sal['JobTitle'].value_counts().nlargest(5))

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [21]:
import pandas as pd
salaries=pd.read_csv(r"C:\Users\tamog\OneDrive\Desktop\Salaries.csv")
sal=pd.DataFrame(salaries)
df=sal[sal['Year']==2013]
jobcount=df['JobTitle'].value_counts()
print((jobcount==1).sum())

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!