# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [2]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [3]:
salary=pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [5]:
salary.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [6]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [7]:
print(salary['BasePay'].mean())

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [8]:
salary['OvertimePay']=salary['TotalPayBenefits']-salary['BasePay']
high=salary['OvertimePay'].max()
print(high)

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [9]:
jos=salary[salary['EmployeeName']=='JOSEPH DRISCOLL']
title=jos['JobTitle'].iloc[0]
print(title)

CAPTAIN, FIRE SUPPRESSION

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [10]:
print(salary)

            Id       EmployeeName
0            1     NATHANIEL FORD  \
1            2       GARY JIMENEZ
2            3     ALBERT PARDINI
3            4  CHRISTOPHER CHONG
4            5    PATRICK GARDNER
...        ...                ...
148649  148650      Roy I Tillery
148650  148651       Not provided
148651  148652       Not provided
148652  148653       Not provided
148653  148654          Joe Lopez

                                              JobTitle    BasePay
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18  \
1                      CAPTAIN III (POLICE DEPARTMENT)  155966.02
2                      CAPTAIN III (POLICE DEPARTMENT)  212739.13
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC   77916.00
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)  134401.60
...                                                ...        ...
148649                                       Custodian       0.00
148650                                    Not provided        NaN
148651                                    Not provided        NaN
148652                                    Not provided        NaN
148653                      Counselor, Log Cabin Ranch       0.00

        OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  Year
0         400184.25  400184.25       NaN  567595.43         567595.43  2011  \
1         382943.26  137811.38       NaN  538909.28         538909.28  2011
2         122540.78   16452.60       NaN  335279.91         335279.91  2011
3         254427.61  198306.90       NaN  332343.61         332343.61  2011
4         191971.59  182234.59       NaN  326373.19         326373.19  2011
...             ...        ...       ...        ...               ...   ...
148649         0.00       0.00       0.0       0.00              0.00  2014
148650          NaN        NaN       NaN       0.00              0.00  2014
148651          NaN        NaN       NaN       0.00              0.00  2014
148652          NaN        NaN       NaN       0.00              0.00  2014
148653      -618.13    -618.13       0.0    -618.13           -618.13  2014

        Notes         Agency  Status
0         NaN  San Francisco     NaN
1         NaN  San Francisco     NaN
2         NaN  San Francisco     NaN
3         NaN  San Francisco     NaN
4         NaN  San Francisco     NaN
...       ...            ...     ...
148649    NaN  San Francisco     NaN
148650    NaN  San Francisco     NaN
148651    NaN  San Francisco     NaN
148652    NaN  San Francisco     NaN
148653    NaN  San Francisco     NaN

[148654 rows x 13 columns]

** What is the name of highest paid person (including benefits)?**

In [11]:
highest=salary.sort_values('TotalPayBenefits',ascending=False)['EmployeeName'].iloc[0]
print(highest)

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [13]:
lowest=salary.sort_values('TotalPayBenefits',ascending=True)['EmployeeName'].iloc[0]
print(lowest)

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [19]:
avg=salary.groupby('Year')['BasePay'].mean()
print(avg)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [18]:
uni=salary['JobTitle'].unique()
print(uni)

['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'
 'CAPTAIN III (POLICE DEPARTMENT)' 'WIRE ROPE CABLE MAINTENANCE MECHANIC'
 ... 'Conversion' 'Cashier 3' 'Not provided']

** What are the top 5 most common jobs? **

In [17]:
common=salary['JobTitle'].value_counts().head(5)
print(common)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [20]:
in_2013=salary[salary['Year']==2013]['JobTitle']
jobs=in_2013.value_counts()[in_2013.value_counts()==1].count()
print(jobs)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [21]:
chief=salary['JobTitle'].str.contains('Chief',case=False).sum()
print(chief)

627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [22]:
cor=salary['JobTitle'].str.len().corr(salary['TotalPayBenefits'])
print(cor)

-0.03687844593260675

In [24]:
title_length=salary['JobTitle'].str.len()
corr=title_length.corr(salary['TotalPayBenefits'])
print("title_len\tTotalPayBenefits")
print(f"title_len\t{round(corr, 6)}")
print(f"TotalPayBenefits\t{round(corr, 6)}")

title_len	TotalPayBenefits
title_len	-0.036878
TotalPayBenefits	-0.036878

# Great Job!